@import url("https://mosher.mine.nu/uniwebfonts/css/reset.css");
@import url("https://mosher.mine.nu/uniwebfonts/css/solarized.css");
@import url("https://mosher.mine.nu/uniwebfonts/css/fonts.css");
@import url("teish.css");

section {
    margin: 2ex 2rem 2ex 2rem;
}

a:hover {
    background-color: var(--sol-base2);
    color: var(--sol-orange);
}
